body {
  background-color: #222222;
  color: white;
}

h1 {
  margin: 4%;
}

input,
textarea {
  color: white !important;
}

.texte-copie {
  padding-left: 1rem;
  display: none;
}

.bouton-reset {
  margin-top: 2%;
}
